<div class="sampleform">
  <h3>PEOPLE</h3>
  <form [formGroup]="userForm">
    <table>
      <thead>
        <tr>
          <td>
            <input
              type="text"
              formControlName="Firstname"
              class="form-control"
              placeholder="Firstname"
              [(ngModel)]="userFirstName"
            />
          </td>
          <td>
            <input
              type="text"
              formControlName="Lastname"
              class="form-control"
              placeholder="Lastname"
              [(ngModel)]="userLastName"
            />
          </td>
          <td>
            <button type="button" class="btn-btn-primary" (click)="addItems()">
              Add
            </button>
          </td>
        </tr>
      </thead>
    </table>
  </form>

  <br />
  <div class="col-md-20 mt-4 mb-4">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><b class="first-name-header">First</b></td>
          <td><b>Last</b></td>
          <br />
        </tr>
      </thead>
      <hr size="1" width="220%" />
      <tbody>
        <tr *ngFor="let item of listData">
          <td *ngIf="item.Firstname && item.Lastname">
            <span>{{ item.Firstname }}</span>
          </td>
          <td *ngIf="item.Firstname && item.Lastname">
            <span>{{ item.Lastname }}</span>
          </td>
          <td *ngIf="item.Firstname && item.Lastname">
            <span
              ><button
                type="button"
                class="btn-btn-primary"
                (click)="deleteItem(item)"
              >
                Delete
              </button></span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
